---
# RuntimeClass for gVisor security sandbox
apiVersion: node.k8s.io/v1
kind: RuntimeClass
metadata:
  name: gvisor
handler: runsc
scheduling:
  nodeSelector:
    cloud.google.com/gke-sandbox-runtime: "true"
