---
apiVersion: v1
kind: Service
metadata:
  name: autonomous-dev-service
  namespace: autonomous-dev
  labels:
    app: autonomous-dev
  annotations:
    cloud.google.com/neg: '{"ingress": true}'
spec:
  type: ClusterIP
  selector:
    app: autonomous-dev
    component: agent
  ports:
  - name: http
    port: 80
    targetPort: 8080
    protocol: TCP
  - name: metrics
    port: 9090
    targetPort: 9090
    protocol: TCP
  sessionAffinity: ClientIP
